@charset "utf-8";

html {
  font-family: 'Manrope', sans-serif;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #2d2d2d;
}

/**** header ****/
header {
  height: 100vh;
  width: 92vw;
  margin: 0 auto;
  padding-bottom: 150px;
  border-bottom: 1px solid #eeeeee;
}

header h1 {
  padding-top: 30px;
  font-weight: 400;
  font-size: 10.5vw;
  color: #2d2d2d;
  margin-bottom: 70px;
  position: relative;
  animation: fadeInUp 1.5s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(-10%);
  }
}

header nav {
  display: flex;
  flex-direction: column;
}

header .hovering {
  border: 1px solid #2d2d2d;
  border-radius: 20px;
  width: 200px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 14px;
  position: absolute;
  right: 150px;
}

header nav li {
  margin-bottom: 35px;
  /* display: block; */
  font-size: 24px;
}

/* header nav li a {
  display: block;
  width: 150px;
  height: 20px;
} */

#header_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

#header_bottom .btn a img {
  width: 120%;
}

#header_bottom .txt ul li {
  list-style-type: disc;
  font-size: 22px;
  padding-right: 100px;
}

/**** about ****/
#about {
  /* padding-top: 30px; */
  overflow: hidden;
  font-family: Pretendard;
  height: 100vh;
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}

#about .intro {
  width: 40vw;
}

#about .introMe {
  width: 35vw;
}

#about .intro h2 {
  color: #2d2d2d;
  font-size: 50px;
  line-height: 1.8;
  margin-bottom: 100px;
  font-weight: bold;
}

#about .intro h2 span {
  color: #f53024;
}

#about .intro .circles {
  width: 80px;
  height: 80px;
  background-color: #F1F1F1;
  border-radius: 50%;
}

#about .intro .circles p {
  width: 40vw;
  line-height: 4;
  margin-left: 45px;
  font-size: 20px;
  font-family: Pretendard;
}

#about .introMe ul li .txt {
  width: 783px;
  display: flex;
  border-bottom: 1px solid #EEEEEE;
  padding: 65px 0;
}

#about .introMe ul li .txt1 {
  padding-top: 0;
}

#about .introMe ul li .txt3 {
  border-bottom: none;
}

#about .introMe ul li h3 {
  font-size: 30px;
  font-weight: 700;
  color: #f53024;
  margin-right: 180px;
}

#about .introMe ul li p {
  font-size: 22px;
  line-height: 1.5;
  color: #000000;
  font-weight: 500;
}

/****  skills ****/
.title {
  margin-top: 50px;
  font-size: 80px;
  font-weight: 600;
  padding-left: 50px;
}

.title span {
  color: #F53024;
  font-family: Pretendard;
}

#skills {
  overflow: hidden;
  padding-top: 10px;
}

.skill_gird {
  height: 100vh;
  width: 85vw;
  margin: auto;
  margin-top: 95px;
  display: grid;
  grid-template-columns: 35vw 35vw;
  grid-auto-rows: 16vw;
  justify-content: center
}

.skill_gird div {
  padding-left: 130px;
}

.skill_gird .border-right {
  border-right: 1px solid #EEEEEE;
}

.skill_gird .border-bottom {
  border-bottom: 1px solid #EEEEEE;
}

.skill_gird h3 {
  font-weight: 700;
  font-size: 1.8rem;
  color: #f53024;
  margin-bottom: 50px;
}

.skill_gird ul li {
  margin-left: 20px;
  font-size: 1.2rem;
  font-family: Pretendard;
  font-weight: 500;
  list-style-type: disc;
  line-height: 1.8;
}

.skill_gird ul li::marker {
  color: #ddd;
}

.skill_gird .box3,
.skill_gird .box4 {
  padding-top: 60px;
}

/****  Works ****/
#works {
  background-color: #000;
  padding-top: 10px;
}

main #works {
  overflow: hidden;
  color: #fff;
  width: 100%;

}

main #works .title {
  color: #fff;
}

#works #work {
  width: 90vw;
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#works #work .web {
  margin-bottom: 140px;
}

#works #work .web .txt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

#work .web .txt h3 {
  font-size: 27px;
}

#work .web .txt h3 a:hover {
  color: #F53024;
}

#work .web .txt h3 a {
  color: #fff;
}

#work .web .img a img {
  max-width: 100%;
}

#work .web .txt ul li {
  font-size: 14px;
  margin-left: 15px;
}

#work .web .txt ul li:nth-child(1),
#work .web .txt ul li:nth-child(2) {
  border: 1px solid #fff;
  width: 130px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 20px;
}

#work .web .txt ul .num {
  font-size: 19px;
  line-height: 36px;
}

#work .web .txt ul {
  display: flex;
}

#works #work .web1 {
  margin-top: 88px;
}

/* footer */
footer {
  background-color: #000;
  color: #fff;
}

#contact {
  overflow: hidden;
  width: 90vw;
  margin: auto;
}

#contact h2 {
  font-size: 15vw;
  border-bottom: 1px solid #fff;
  padding-bottom: 130px;
}

#contact h2 span {
  font-family: Pretendard;
  color: #F53024;
}

#contact p {
  margin-top: 30px;
  font-size: 24px;
  margin-bottom: 30px;
}

#contact h3 {
  font-size: 5vw;
  border-bottom: 1px solid #fff;
  padding-bottom: 50px;
}

#contact .link {
  display: flex;
  justify-content: space-between;
}

#contact .smile {
  position: sticky;
  bottom: 10px;
  padding-top: 80px;
  /* transform: translate(5%) translateY(5%); */
  transform: translateX(calc(var(--mouse-x) * 0.02px)) translateY(calc(var(--mouse-y)*0.03px));
}

#contact .link ul {
  padding-top: 100px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 100px;
}

#contact .link ul li {
  /* width: 25%; */
  padding-left: 20px;
  position: relative;
}


#contact .link ul li a {
  font-size: 24px;
  color: #fff;
  /* display: block; */
  border-bottom: 1px solid #fff;
}


#contact .link ul li a:hover {
  color: #F53024;
}

/**** script ****/
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #F53024;
  position: fixed;
  top: -15px;
  left: -23px;
  /* transition: .1s; */
  will-change: transform;
}

.link-grow {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* transform: scale(5); */
  background-color: transparent;
  border: 2px solid #F53024;

}

.hovered-link {
  color: #F53024;
}

/* 페이드인 work */
.sa {
  opacity: 0;
  transition: all .8s ease;
}

.sa-up {
  transform: translate(0, 100px);
}

.sa.show {
  opacity: 1;
  transform: none;
}

.btns {
  animation: motion 0.8s linear 0s infinite alternate;
  margin-top: 0;
}

@keyframes motion {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 8px;
  }
}