@charset "utf-8";

/*********** content ************/
#content ul {
  flex-direction: row;
}

#content ul li:nth-child(2),
#content ul li:nth-child(3) {
  display: block;
}

#content .circle {
  display: none;
}

#content ul li {
  width: 90%;
}

#content ul li .txt {
  padding: 50px;
}

/*********** poundation , mascara ************/
#poundation,
#mascara,
.new1,
.new2 {
  flex-direction: row;
  justify-content: center;
  align-items: center
}

#mascara .txt {
  margin-top: 50px;
}

/*********** product ************/


#product ul {
  grid-template-columns: repeat(3, 260px);
  justify-content: center;
}

#product ul li img {
  overflow: hidden;
  width: 85%;
}

#product ul li .img {
  width: 260px;
  height: 270px;
}

/*********** footer ************/
#footer1 {
  height: 60px;
  flex-direction: row;
}


#footer2 {
  height: 100px;
}