@charset "utf-8";

/*********** content ************/
#content ul li:nth-child(2),
#content ul li:nth-child(3) {
  display: block;
}

#content ul li {
  width: 85%;
}

#content ul li .txt {
  padding: 50px;
}

#content #circle {
  display: none;
}

/*********** poundation , mascara ************/
#poundation,
#clarifique {
  flex-direction: row;
}

#poundation .txt {
  width: 85vw;
  padding-top: 50px;
}

#mascara .txt {
  width: 90vw;
  padding-top: 50px;
}

#mascara,
#genifique {
  flex-direction: row;
}

#clarifique {
  display: block;
}

#clarifique .flex {
  display: flex;
}

/*********** product ************/
#product ul {
  grid-template-columns: repeat(3, 1fr);
}

#product ul li .img {
  width: 300px;
  height: 300px;
}

/*********** footer ************/
#contact {
  height: 60px;
  flex-direction: row;
}

#contact ul {
  flex-direction: row;
}

#contact ul li {
  margin-right: 60px;
}

#copyright {
  height: 100px;
}