@charset "utf-8";

body {
  background: url(../images/noise_bg.png);
  font-family: Pretendard;
  color: #0a0a0a;
  text-align: center;
  overflow-x: hidden;
}

a {
  color: #0a0a0a;
}

::selection {
  background-color: rgb(255, 102, 14);
  color: #fff;
}

.radial {
  position: absolute;
  filter: blur(80px);
  opacity: 0.8;
  z-index: -1;
}


.one {
  border-radius: 70%;
  width: 50%;
  height: 50%;
  background-color: rgba(4, 66, 201, 0.6);
  left: 25%;
  top: 0;
  animation: move-one 5s linear infinite;
  transform: rotate(0) translate(100px) rotate(0);
}


.three {
  border-radius: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 102, 14, 0.774);
  bottom: 30%;
  right: -40%;
  animation: move-three 7s linear infinite;
  transform: rotate(0) translate(100px) rotate(0);
}


@keyframes move-one {
  100% {
    transform: rotate(-1turn) translate(100px) rotate(1turn);
  }
}

@keyframes move-three {
  100% {
    transform: rotate(1turn) translate(200px) rotate(-1turn);
  }
}

.background {
  height: 100vh;
}

/* header */
header {
  width: 100%;
  height: 167px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 40px;
}

header nav ul li {
  position: relative;
  margin-right: 76px;
  transition: transform .5s ease;
}

header nav ul li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  width: 56px;
  border-top: 1px solid #000;
}

header nav ul li a {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  height: 20px;
}

header nav ul li a .block:last-child {
  font-weight: 900;
}

header nav ul li a:hover .letter {
  transform: translateY(-100%);
}

header nav ul li a .letter {
  display: inline-block;
  transition: transform .4s cubic-bezier(0.76, 0, 0.24, 1);
}


header nav ul li .mark {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 0px;
  right: -5px;
  background-color: #0a0a0a;
}

header .logo {
  padding-top: 20px;
}

header .logo a {
  font-size: 55px;
  font-weight: 500;
}

header .btn {
  font-size: 26px;
  font-weight: 200;
  padding: 40px 40px 0 0;
}


/* view */

.text_box {
  margin: 80px 0 100px;
  font-size: 130px;
  font-weight: 600;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.text_box .blink {
  animation: blink 0.5s infinite;
  font-size: 130px;
  font-weight: 200;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#view .txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#view .txt span {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 10px;
  border-bottom: 1px solid #0a0a0a;
  margin-bottom: 20px;
}

#view .mark {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0a0a0a;
  bottom: -20px;
  width: 1px;
  height: 70px;
  z-index: 9999;
  margin-bottom: 20px;
}

#view .mark::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  bottom: -15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0a0a0a;
}

/* main */
main {
  text-align: center;
}

main h2 {
  font-size: 82px;
  font-weight: 600;
  line-height: 102px;
  margin-bottom: 30px;
}

main p {
  font-size: 24px;
  line-height: 36px;
}

/* intro */
#intro {
  margin-top: 150px;
}

#intro .txt h3 {
  font-size: 42px;
  font-weight: 400;

}

#intro .txt_info h3 {
  font-size: 42px;
  font-weight: 600;

}

.flow-text {
  margin-top: 80px;
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.1s;
  font-size: 45px;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #0a0a0a;
  width: 100%;
  height: 90px;
  line-height: 90px;
}

.flow-text:hover {
  color: #fff;
  background-color: #000;
}

.flow-text:hover .flow-wrap {
  animation-play-state: paused;
  cursor: pointer;
}

.flow-wrap {
  animation: textLoop 5s linear infinite;
  padding-right: 50px;
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/* information */
.information {
  margin: 100px 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information .info ul {
  display: flex;
}

.information .info ul li {
  height: 25px;
  margin: 10px;
  padding: 22px 34px;
  line-height: 25px;
  border: 1px solid #0a0a0a;
  border-radius: 80px;
  background-color: #fff;
  font-size: 34px;
  font-weight: 500;
  position: relative;
  animation: slideDash 1.5s 1 forwards linear;
}

.information .info ul .black {
  background-color: #000;
  color: #fff;
}

.information .info ul .bg1 {
  background: linear-gradient(90deg, #eeff00, #99f3ff, #ff0080);
  background-size: 300% 100%;
  animation: gradient 10s linear infinite;
}

.information .info .bg2 {
  background: linear-gradient(90deg, #97deff, #ffa6d8, #fff6a6);
  background-size: 500% 100%;
  animation: gradient 7s linear infinite;
}


.information .info .bg3 {
  background: linear-gradient(45deg, #ffa993, #ffbe5c, #c4ff80);
  background-size: 300% 100%;
  animation: gradient 4s ease-out infinite;
}

.information .info .bg4 {
  background: linear-gradient(-45deg, #03a9f4, #fca7d7, #ffeb3b, #03a9f4);
  background-size: 200% 100%;
  animation: gradient s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.information .info .arrow {
  padding: 22px 65px 22px 35px;
}

.information .info ul li span a img {
  position: absolute;
  top: 12px;
  right: 15px;
}

/* project */
#project {
  position: relative;
  width: 100%;
}

#project h2 {
  margin-bottom: 50px;
}

#project .sticky_box {
  position: sticky;
  top: 0;
  height: 100vh;
}

#project .sticky_box .project_wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 400%;
  height: 100vh;
}

#project .sticky_box .project_wrapper img {
  padding: 30px;
}

#project .project_wrapper .box {
  border-left: 1px dashed #0a0a0a;
  display: flex;
  /* justify-content: flex-end; */
  height: 100vh;
  width: 420vw;
}

.project_wrapper .filed {
  padding-left: 160px;
}


.project_wrapper .box h3 {
  padding: 0 0 0 70px;
  text-align: right;
  padding-bottom: 25px;
  font-size: 4rem;
  font-weight: 600;
  writing-mode: vertical-rl
}



.project_wrapper .box .txt {
  padding: 0 60px 0 50px;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  width: 32vw;
}

.project_wrapper .box .txt h4 {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: left;
  line-height: 1.5;
  padding-top: 30px;
}

.project_wrapper .data {
  padding-bottom: 50px;
}

.project_wrapper .box .txt p {
  font-size: 1.75rem;
  font-weight: 400;
  text-align: left;
}


/* place */
#place {
  margin-top: 180px;
}

.after {
  width: 995px;
  height: 679px;
  margin: 0 auto;
  position: relative;
}

.slide_wrapper {
  width: 995px;
  height: 679px;
  background-color: #fff;
  border: 1px solid #0a0a0a;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
}

.after::after {
  z-index: 100;
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  border-right: 1px solid #0a0a0a;
  border-bottom: 1px solid #0a0a0a;
}

/* 좌우 버튼 */
.slide_wrapper .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
}

.slide_wrapper .buttons .btn {
  cursor: pointer;
  padding: 10px 2px;
  position: relative;
}

.slide_wrapper .buttons .btn img {
  width: 80%;
}

.slide_wrapper .buttons .btn:nth-child(1) {
  transform: rotate(270deg);
}

.slide_wrapper .buttons .btn:nth-child(2) {
  transform: rotate(90deg);
}

/* 슬라이드 박스 */
.slide_wrapper .slide_item {
  background-color: #fff;
  align-items: center;
  position: absolute;
}


.slide_wrapper .slide_item .slide_img {
  width: 995px;
  height: 520px;
  background: no-repeat 50% / cover;
  order: 2;
  border-bottom: 1px solid #0a0a0a;
  transform: translateX(100%);
  transition: .8s ease-in-out;
}

.slide_wrapper .slide_box1 .slide_img {
  background-image: url(../images/platz.png);
}

.slide_wrapper .slide_box2 .slide_img {
  background-image: url(../images/platz2.jpeg);
}

.slide_wrapper .slide_box3 .slide_img {
  background-image: url(../images/platzWork.jpeg);
}

.slide_wrapper .slide_box4 .slide_img {
  background-image: url(../images/cafepoze.jpg);
}


.slide_wrapper .slide_item .text_box_wrapper {
  text-align: left;
  order: 1;
  width: 100%;
  padding: 40px;
  height: 159px;
}

.slide_wrapper .slide_item .text_box_wrapper .text_box_inner p {
  margin-bottom: 30px;
  font-size: 17px;
}

.slide_wrapper .slide_item .text_box_wrapper .text_box_inner .text_btn {
  color: #000;
  border-bottom: 1px solid #000;
  letter-spacing: 2px;
}

.slide_wrapper .slide_item .text_box_wrapper .move {
  transform: translateX(100%);
  transition: .8s ease-in-out;
  opacity: 0;
}


/* .active */
.slide_item.active {
  visibility: visible;
  z-index: 10;
}

.slide_item.active .text_box_wrapper .text_box_inner p,
.slide_item.active .text_box_wrapper .text_box_inner .text_btn {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.slide_item.active .slide_img {
  transform: translateX(0);
}

/* footer */
footer {
  height: 100px;
  border-top: 1px solid #aaa;
  padding: 40px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  color: #aaa;
  text-align: left;
}

footer a {
  color: #aaa;
}

footer .copyright .foot_logo a {
  font-size: 40px;
  font-weight: 500;
}

footer .copyright .copy p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
}

footer .footmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

footer .introduce {
  padding-right: 10px;
}

footer .footmenu p {
  font-size: 16px;
}

footer .sns {
  display: flex;
  align-items: center;
}

footer .sns .membership {
  padding-right: 10px;
}

footer .sns .membership a {
  color: #0a0a0a;
  font-weight: 500;
  font-size: 17px;
}

footer .sns .membership a:hover {
  font-weight: 900;
}

footer .sns .sns_icon ul {
  display: flex;
}

footer .sns .sns_icon ul li {
  padding: 5px;
}

/* up */
.Up {
  overflow: hidden;
  width: 55px;
  height: 55px;
  border: 1px solid #0a0a0a;
  background: url(../images/arrow_right_alt_FILL0_wght100_GRAD0_opsz48.svg) no-repeat 50%;
  text-indent: -9999px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: .3s;
  background-color: #fff;
}

.Up:hover {
  transform: translateY(-5px);
}

/* 페이드인 work */
.sa {
  opacity: 0;
  transition: all 1.5s ease;
}

.sa-up {
  transform: translate(0, 100px);
}

.sa-left {
  transform: translateX(150px);
}

.sa-right {
  transform: translateX(-150px);
}

.sa.show {
  opacity: 1;
  transform: none;
}

@keyframes motion {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 10px;
  }
}